<?xml version='1.0' encoding='utf-8'?>
<widget id="com.geekportfolio.calculator" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Calculator</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
    <preference name="android-build-tool" value="gradle" />
    <plugin name="phonegap-plugin-push" source="npm">
        <param name="SENDER_ID" value="" />
    </plugin>
    <engine name="android" spec="^7.1.4" />
</widget>
